@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    font-family: 'Nunito', sans-serif;
	 font-weight: 300;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #5B3256, #F6EEF5);
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
   width: 100%;
   padding: 20px;
}

.linklist {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w3-btn {
    width: 75%;
    border: 2px solid black;
    box-shadow: 7px 7px 0px 0px black;
    padding: 15px;
    border-radius: 30px;
    margin: 10px;
    background-color: #E3CCE0;
    position: relative;   
}

.w3-btn:hover {
    transform: scale(105%);
}    

.w3-btn:visited{
background-color: blue;
}    

a {
    color: black;
    text-decoration: none;
    flex: 1;              
    text-align: center;
}

i {
   font-size: 25px;
    position: absolute; 
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

footer a {
    color: white;
}
