@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    font-family: 'Nunito', sans-serif;
	 font-weight: 300;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #5B3256;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#sidebar {
  background-color: #EBE1EA;
  color: black;
}
#photogrid {
    flex-wrap: wrap;
}
#photogrid img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    padding: 5px;
     transition: transform 0.2s;
}

.w3-modal-content {
    width: auto !important;
    max-width: 90% !important;
    margin: auto;
    background: none !important;
    box-shadow: none !important;
}

#modal01 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
    cursor: pointer;
}

#img01 {
    max-width: 90% !important;
    max-height: 90vh !important;
    width: auto !important;
    height: auto !important;
    aspect-ratio: unset !important;
    object-fit: contain !important;
    padding: 0 !important;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.w3-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.w3-main {
    background-image: linear-gradient(to top, #5B3256, #F6EEF5);
}

.filter-btn i{
    min-width: 110px;
    padding: 8px 12px;
}

#main-content {
    margin-left: 250px;
}

@media (max-width: 992px) {
    #main-content {
        margin-left: 0px !important;
    }
    #sidebar {
        display: none;
    }
}

#about {
    background-color: #5B3256;
}

a {
    color: black;
    text-decoration: none;
    flex: 1;              
    text-align: center;
}

i {
   font-size: 25px;
}
footer {
    text-align: center;
}    
.w3-main {
/*    background-color: #5B3256; */
}

.w3-overlay {
    background-color: transparent;
}

footer a {
    color: white;
}
